<html>
	<head>
		<title>SQLite</title>
	</head>
	<body>
		<a href="/create-table">Create Table</a>
		<a href="/insert-records">Add Record</a>
		<!-- <a href="/update-records/2/Sunil">Update Record</a>
		<a href="/delete-records/2">Delete Record</a> -->
		
		<div>
			<p> Employee List : {{employeeList}}</p>
			<h4> Employee List</h4>
			<table>
				<tr>
					<th>id</th>
					<th>Name</th>
					<th>Designation</th>
					<th>Qualification</th>
				</tr>
				 {{#each employeeList as |item index|}}
					<tr>
						<td>{{item.index.id}}</td>
						<td>{{item.index.name}}</td>
						<td>{{item.index.designation}}</td>
						<td>{{item.index.id}}</td>
					</tr>
				{{/each}}
			</table>	
		</div>	

	</body>

</html>